$bg: #333;
$push-color: hsla(10, 90%, 40%, 1);

$push-size: 50px;

body {
  margin: 1em;
/*   background: $bg;
  color: #ccc;
  font: normal 3vw/1 'Montserrat', sans-serif;;
  text-align: center;
  text-transform: uppercase; */
}
h1 {
  font-size: 5vw;
}


.arcade-buttons {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: $push-color;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
  top: 30px;
}

.arcade-buttons.yellow {
  background-color: yellow;
}

.arcade-buttons.green {
  background-color: green;
}

.arcade-buttons {
  box-shadow: 
    inset 0 $push-size/32 0 lighten($push-color, 5%),
    inset 0 (-$push-size/32) 0 darken($push-color, 5%),
    inset 0 0 0 $push-size/32 darken($push-color, 3%),
    inset 0 0 0 $push-size/12 $push-color,
    inset 0 0 0 $push-size/10 darken($push-color, 20%),
    inset 0 0 0 $push-size/9.2 darken($push-color, 50%),
    inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .3),
    inset 0 0 0 $push-size/5.5 $push-color,
    inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken($push-color, 10%),
    0 $push-size/20 0 rgba(0, 0, 0, .3);

  &:after {
    content: '';
    position: absolute;
    bottom: $push-size/20;
    left: $push-size/10;
    display: block;
    width: $push-size/1.25;
    height: $push-size/1.25;
    border: $push-size/15 solid rgba(0, 0, 0, .3);
    border-width: 0 0 $push-size/15;
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow: 
      inset 0 $push-size/32 0 lighten($push-color, 5%),
      inset 0 (-$push-size/32) 0 darken($push-color, 5%),
      inset 0 0 0 $push-size/32 darken($push-color, 3%),
      inset 0 0 0 $push-size/12 $push-color,
      inset 0 0 0 $push-size/10 darken($push-color, 20%),
      inset 0 0 0 $push-size/8.5 darken($push-color, 40%),
      inset 0 0 0 $push-size/7.5 transparentize(lighten($push-color, 30%), .8),
      inset 0 0 0 $push-size/5.5 darken($push-color, 3%),
      inset 0 $push-size/2.5 $push-size/7.5 darken($push-color, 8%),
      inset 0 0 $push-size/10 $push-size/6 darken($push-color, 15%),
      0 $push-size/20 0 rgba(0, 0, 0, .3);
    background-color: darken($push-color, 2%);
        
    &:after {
      bottom: $push-size/20 + $push-size/15;
      border-width: 0;
    }
  }
}

.arcade-buttons.yellow {
  box-shadow: 
    inset 0 $push-size/32 0 lighten(yellow, 5%),
    inset 0 (-$push-size/32) 0 darken(yellow, 5%),
    inset 0 0 0 $push-size/32 darken(yellow, 3%),
    inset 0 0 0 $push-size/12 yellow,
    inset 0 0 0 $push-size/10 darken(yellow, 20%),
    inset 0 0 0 $push-size/9.2 darken(yellow, 50%),
    inset 0 0 0 $push-size/7.5 transparentize(lighten(yellow, 30%), .3),
    inset 0 0 0 $push-size/5.5 yellow,
    inset 0 $push-size/2.5 $push-size/7.5 darken(yellow, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken(yellow, 10%),
    0 $push-size/20 0 rgba(0, 0, 0, .3);

  &:after {
    content: '';
    position: absolute;
    bottom: $push-size/20;
    left: $push-size/10;
    display: block;
    width: $push-size/1.25;
    height: $push-size/1.25;
    border: $push-size/15 solid rgba(0, 0, 0, .3);
    border-width: 0 0 $push-size/15;
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow: 
      inset 0 $push-size/32 0 lighten(yellow, 5%),
      inset 0 (-$push-size/32) 0 darken(yellow, 5%),
      inset 0 0 0 $push-size/32 darken(yellow, 3%),
      inset 0 0 0 $push-size/12 yellow,
      inset 0 0 0 $push-size/10 darken(yellow, 20%),
      inset 0 0 0 $push-size/8.5 darken(yellow, 40%),
      inset 0 0 0 $push-size/7.5 transparentize(lighten(yellow, 30%), .8),
      inset 0 0 0 $push-size/5.5 darken(yellow, 3%),
      inset 0 $push-size/2.5 $push-size/7.5 darken(yellow, 8%),
      inset 0 0 $push-size/10 $push-size/6 darken(yellow, 15%),
      0 $push-size/20 0 rgba(0, 0, 0, .3);
    background-color: darken(yellow, 2%);
        
    &:after {
      bottom: $push-size/20 + $push-size/15;
      border-width: 0;
    }
  }
}

.arcade-buttons.green {
  box-shadow: 
    inset 0 $push-size/32 0 lighten(green, 5%),
    inset 0 (-$push-size/32) 0 darken(green, 5%),
    inset 0 0 0 $push-size/32 darken(green, 3%),
    inset 0 0 0 $push-size/12 green,
    inset 0 0 0 $push-size/10 darken(green, 20%),
    inset 0 0 0 $push-size/9.2 darken(green, 50%),
    inset 0 0 0 $push-size/7.5 transparentize(lighten(green, 30%), .3),
    inset 0 0 0 $push-size/5.5 green,
    inset 0 $push-size/2.5 $push-size/7.5 darken(green, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken(green, 10%),
    0 $push-size/20 0 rgba(0, 0, 0, .3);

  &:after {
    content: '';
    position: absolute;
    bottom: $push-size/20;
    left: $push-size/10;
    display: block;
    width: $push-size/1.25;
    height: $push-size/1.25;
    border: $push-size/15 solid rgba(0, 0, 0, .3);
    border-width: 0 0 $push-size/15;
    border-radius: 50%;
    transition-duration: 200ms;
  }

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow: 
      inset 0 $push-size/32 0 lighten(green, 5%),
      inset 0 (-$push-size/32) 0 darken(green, 5%),
      inset 0 0 0 $push-size/32 darken(green, 3%),
      inset 0 0 0 $push-size/12 green,
      inset 0 0 0 $push-size/10 darken(green, 20%),
      inset 0 0 0 $push-size/8.5 darken(green, 40%),
      inset 0 0 0 $push-size/7.5 transparentize(lighten(green, 30%), .8),
      inset 0 0 0 $push-size/5.5 darken(green, 3%),
      inset 0 $push-size/2.5 $push-size/7.5 darken(green, 8%),
      inset 0 0 $push-size/10 $push-size/6 darken(green, 15%),
      0 $push-size/20 0 rgba(0, 0, 0, .3);
    background-color: darken(green, 2%);
        
    &:after {
      bottom: $push-size/20 + $push-size/15;
      border-width: 0;
    }
  }
}
