body {
  margin: 1em;
  /*   background: $bg;
  color: #ccc;
  font: normal 3vw/1 'Montserrat', sans-serif;;
  text-align: center;
  text-transform: uppercase; */ }

h1 {
  font-size: 5vw; }

.arcade-buttons {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: #c2290a;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
  top: 30px; }

.arcade-buttons.yellow {
  background-color: yellow; }

.arcade-buttons.green {
  background-color: green; }

.arcade-buttons {
  box-shadow: inset 0 1.5625px 0 #da2e0b, inset 0 -1.5625px 0 #aa2409, inset 0 0 0 1.5625px #b32609, inset 0 0 0 4.16667px #c2290a, inset 0 0 0 5px #611405, inset 0 0 0 5.43478px black, inset 0 0 0 6.66667px rgba(247, 133, 110, 0.7), inset 0 0 0 9.09091px #c2290a, inset 0 20px 6.66667px #aa2409, inset 0 0 5px 8.33333px #911f08, 0 2.5px 0 rgba(0, 0, 0, 0.3); }
  .arcade-buttons:after {
    content: '';
    position: absolute;
    bottom: 2.5px;
    left: 5px;
    display: block;
    width: 40px;
    height: 40px;
    border: 3.33333px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 3.33333px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .arcade-buttons:active, .arcade-buttons.is-pushed {
    box-shadow: inset 0 1.5625px 0 #da2e0b, inset 0 -1.5625px 0 #aa2409, inset 0 0 0 1.5625px #b32609, inset 0 0 0 4.16667px #c2290a, inset 0 0 0 5px #611405, inset 0 0 0 5.88235px black, inset 0 0 0 6.66667px rgba(247, 133, 110, 0.2), inset 0 0 0 9.09091px #b32609, inset 0 20px 6.66667px #9b2108, inset 0 0 5px 8.33333px #791a06, 0 2.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #b8270a; }
    .arcade-buttons:active:after, .arcade-buttons.is-pushed:after {
      bottom: 5.83333px;
      border-width: 0; }

.arcade-buttons.yellow {
  box-shadow: inset 0 1.5625px 0 #ffff1a, inset 0 -1.5625px 0 #e6e600, inset 0 0 0 1.5625px #f0f000, inset 0 0 0 4.16667px yellow, inset 0 0 0 5px #999900, inset 0 0 0 5.43478px black, inset 0 0 0 6.66667px rgba(255, 255, 153, 0.7), inset 0 0 0 9.09091px yellow, inset 0 20px 6.66667px #e6e600, inset 0 0 5px 8.33333px #cccc00, 0 2.5px 0 rgba(0, 0, 0, 0.3); }
  .arcade-buttons.yellow:after {
    content: '';
    position: absolute;
    bottom: 2.5px;
    left: 5px;
    display: block;
    width: 40px;
    height: 40px;
    border: 3.33333px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 3.33333px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .arcade-buttons.yellow:active, .arcade-buttons.yellow.is-pushed {
    box-shadow: inset 0 1.5625px 0 #ffff1a, inset 0 -1.5625px 0 #e6e600, inset 0 0 0 1.5625px #f0f000, inset 0 0 0 4.16667px yellow, inset 0 0 0 5px #999900, inset 0 0 0 5.88235px #333300, inset 0 0 0 6.66667px rgba(255, 255, 153, 0.2), inset 0 0 0 9.09091px #f0f000, inset 0 20px 6.66667px #d6d600, inset 0 0 5px 8.33333px #b3b300, 0 2.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f5f500; }
    .arcade-buttons.yellow:active:after, .arcade-buttons.yellow.is-pushed:after {
      bottom: 5.83333px;
      border-width: 0; }

.arcade-buttons.green {
  box-shadow: inset 0 1.5625px 0 #009a00, inset 0 -1.5625px 0 #006700, inset 0 0 0 1.5625px #007100, inset 0 0 0 4.16667px green, inset 0 0 0 5px #001a00, inset 0 0 0 5.43478px black, inset 0 0 0 6.66667px rgba(26, 255, 26, 0.7), inset 0 0 0 9.09091px green, inset 0 20px 6.66667px #006700, inset 0 0 5px 8.33333px #004d00, 0 2.5px 0 rgba(0, 0, 0, 0.3); }
  .arcade-buttons.green:after {
    content: '';
    position: absolute;
    bottom: 2.5px;
    left: 5px;
    display: block;
    width: 40px;
    height: 40px;
    border: 3.33333px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 3.33333px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .arcade-buttons.green:active, .arcade-buttons.green.is-pushed {
    box-shadow: inset 0 1.5625px 0 #009a00, inset 0 -1.5625px 0 #006700, inset 0 0 0 1.5625px #007100, inset 0 0 0 4.16667px green, inset 0 0 0 5px #001a00, inset 0 0 0 5.88235px black, inset 0 0 0 6.66667px rgba(26, 255, 26, 0.2), inset 0 0 0 9.09091px #007100, inset 0 20px 6.66667px #005700, inset 0 0 5px 8.33333px #003400, 0 2.5px 0 rgba(0, 0, 0, 0.3);
    background-color: #007600; }
    .arcade-buttons.green:active:after, .arcade-buttons.green.is-pushed:after {
      bottom: 5.83333px;
      border-width: 0; }
